/* Палетка цветов */
:root {
  --c-white: #FFFFFF;

  --c-black-00: #000000;
  --c-black-01: #181C32;

  --c-blue-00: #3E97FF;
  --c-blue-01: #2884EF;
  --c-blue-light: #EEF6FF;

  --c-gray-00: #A1A5B7;
  --c-gray-01: #7E8299;
  --c-gray-light: #F1F1F2;
}

/* Дефолтные цвета */
:root {
  --color-background: var(--c-gray-light);

  --color-filter-background: var(--c-white);

  --container-background: var(--c-white);

  --tag-background: var(--c-blue-light);
  --tag-color: var(--c-blue-01);
  --tag-background-active: var(--c-blue-00);
  --tag-color-active: var(--c-white);

  --article-info-color: var(--c-gray-01);

  --modal-background: var(--c-black-00);

  --sub-btn-color: var(--c-gray-00);
}

/* Дефолт */
:root {
  --wrapper-padding: 20px 50px 30px 50px;

  --article-width: 400px;
  --article-img-height: 250px;

  --nav-wrapper-padding: 0 50px;
  --nav-width: 1300px;

  --nav-filter-width: 1210px;
  --nav-filter-padding: 24px 50px;
  --nav-filter-tags-padding: 20px 50px;

  --container-padding: 30px;
  --container-columns: repeat(3, 1fr);
  --container-column-gap: 20px;
  --container-row-gap: 40px;
  --container-radius: 12px;

  --tag-radius: 20px;

  --transition: 0.3s
}

/* Планшет */
@media (max-width: 1400px) {
  :root {
    --wrapper-padding: 10px 10px 30px 10px;

    --article-width: 365px;
    --article-img-height: 220px;

    --nav-wrapper-padding: 0 22px;
    --nav-width: 780px;

    --nav-filter-width: 780px;
    --nav-filter-padding: 24px 22px;
    --nav-filter-tags-padding: 20px 22px;

    --container-columns: repeat(2, 1fr);
    --container-column-gap: 20px;
    --container-row-gap: 25px;
    --container-padding: 15px;
  }
}

/* Мобильная */
@media (max-width: 800px) {
  :root {
    --wrapper-padding: 10px 10px 30px 10px;

    --article-width: 325px;
    --article-img-height: 200px;

    --nav-wrapper-padding: 0 22px;

    --nav-filter-padding: 12px 10px;
    --nav-filter-tags-padding: 12px 10px;

    --container-columns: 1fr;
    --container-row-gap: 20px;
    --container-padding: 15px;
  }
}