/* Палетка цветов */
:root {
  --c-white: #FFFFFF;

  --c-black-00: #000000;
  --c-black-01: #181C32;

  --c-blue-00: #3E97FF;
  --c-blue-01: #2884EF;
  --c-blue-light: #EEF6FF;

  --c-gray-00: #A1A5B7;
  --c-gray-01: #7E8299;
  --c-gray-light: #F1F1F2;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-gray-light);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}